Assingment 1.1: WAP to print your name three times

In [1]:
print ("Lavanya")
print ("Lavanya")
print ("Lavanya")

Lavanya
Lavanya
Lavanya

Assingment 2.1: WAP to add three numbers and print the result.

In [4]:
a = 34
b = 23
c = 45
d = a + b + c
print(a, " + ", b, " + ", c, " = ", d)

34  +  23  +  45  =  102

Assingment 2.2: WAP to concatinate three strings and print the result.

In [3]:
a = "I"
b = "am"
c = "Lavanya"
d = a + b + c
print(a, " + ", b, " + ", c, " = ", d)

I   +  am   +  Lavanya  =  IamLavanya

Assingment 4.1: WAP to print the table of 7, 9.

In [5]:
for i in range(1,11):
  print(5, " X ", i, " = ", i*5)

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

In [6]:
for i in range(1,11):
  print(7, " X ", i, " = ", i*7)

7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70

Assingment 4.2: WAP to print the table of n and n is given by user.

In [ ]:
n = int(input("Enter a number to write its table :"))
for i in range(1,11):
  print(n, " X ", i, " = ", i*n)

Enter a number to write its table :6
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n = int(input("Enter a number :"))
s = 0
for i in range(1,n):
  s = s + i
print("Sum is : ", s)

Enter a number :11
Sum is :  55

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [7]:
a = int(input("Enter a number a : "))
b = int(input("Enter a number b : "))
c = int(input("Enter a number c : "))
Maximum = max(a,b,c)
print("Maximum of three numbers is : ", Maximum)

Enter a number a : 3
Enter a number b : 3
Enter a number c : 2
Maximum of three numbers is :  3

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [8]:
n = int(input("Enter a number : " ))
total = 0
for i in range(1, n+1):
   if i % 7 == 0 and i % 9 == 0:
    total = total + i
print("Sum of numbers divisible by 7 and 9 upto ", n, " is ", total)

Enter a number : 76
Sum of numbers divisible by 7 and 9 upto  76  is  63

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [9]:
n = int(input("Enter a number: "))

total = 0
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        total += num

print("Sum of prime numbers from 1 to", n, "is", total)

Enter a number: 65
Sum of prime numbers from 1 to 65 is 501

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [10]:
def is_odd(num):
    if num % 2 == 0:
      return False
    return True

n = int(input("Enter a number: "))

total = 0
for i in range(1, n+1):
  if is_odd(i):
    total += i

print("Sum of odd numbers from 1 to", n, "is", total)

Enter a number: 76
Sum of odd numbers from 1 to 76 is 1444

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [11]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter a number: "))

total = 0
for i in range(1, n + 1):
    if is_prime(i):
        total += i

print("Sum of prime numbers from 1 to", n, "is", total)

Enter a number: 65
Sum of prime numbers from 1 to 65 is 501